%html
  %head
    :css 
      td {
        font-family: arial;
        font-size: 10px;
      }

  %body
    %table{style: "width: 6000px;"}
      %tr
        %td{colspan: 7} Forms Jira Tickets
      %tr
        %td{style: "width: 1%;"} Ticket
        %td{style: "width: 4%;"} Description
        %td{style: "width: 95%;"}
          %table{style: "width: 20%;"}
            %tr
              %td{style: "width: 1%;"} 1/1/16
              %td{style: "width: 1%;"} 12/31/16
              %td{style: "width: 1%;"} 1/1/17
      %tr{style: "border: solid 1px grey;"}
        %td #{@tickets}
        %td #{@tickets}
        %td
          %img{src: "images/shim.gif", height: "15px;", width: "37.5px;"}
          %img{src: "images/busy.gif", height: "15px;", width: "12.5px;"}